* {
  margin: 0;
  padding: 0;
}

img {
  width: 40vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
}

.left-page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.image-front {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15em;
  background-color: rgba(128, 128, 128, 0.096);
  width: 40vw;
  height: 7em;
  color: aliceblue;
}

div > img {
  margin-right: 1em;
}

.odin-logo {
  width: 5em;
  height: 5em;
}

.right-page {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}

.right-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 33vh;
  width: 60vw;
  font-size: larger;
  font-weight: bold;
}

.right-up > * {
  margin-left: 2em;
}
.right-up > p {
  margin-top: 1em;
}

.form-content {
  display: flex;
  height: 33vh;
  justify-content: center;
  align-items: center;
}

.form-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.form-selection {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

button {
  color: aliceblue;
  font-weight: 800;
  font-size: medium;
  background-color: rgba(24, 97, 24, 0.897);
  border-radius: 0.5em;
  margin-left: 2em;
  margin-top: 2em;
  padding: 0.5em 4em;
}

.bottom-text {
  margin: 2em;
}
